@import './base.css';

h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1rem;
}

#app {
  font-weight: normal;
}

a {
  text-decoration: none;
  color: var(--color-accent);
}

a:hover {
  background-color: var(--color-accent);
  color: #fff;
}

.wrapper {
  margin: auto;
  max-width: 1280px;
  padding-right: 1rem;
  padding-left: 1rem;
}
